<mat-card>
	<mat-card-title>
		{{'L10N_MAME_KESAKO'|translate}}
	</mat-card-title>
	<mat-card-content class="justify">
		{{'L10N_DESCRIPTION'|translate}}
	</mat-card-content>
</mat-card>
<div *ngIf="model.data.mame.build != null">
	<div class="default-spacer"></div>
	<mat-card>
		<mat-card-title>
			<a routerLink="/result" [queryParams]="{type:'version',value:model.data.mame.version}">MAME -
				{{model.data.mame.version}}</a>
		</mat-card-title>
		<mat-card-content>
			<ul>
				<li>
					Machines : {{model.data.mame.machineCount}}
					<ul>
						<li>MAME : {{model.data.mame.mameCount}}</li>
						<li>{{'L10N_SEARCH_BY_MESS'|translate}} : <a routerLink="/result"
								[queryParams]="{type:'mess',value:'all'}">{{model.data.mame.messCount}}</a></li>
					</ul>
				</li>
				<li>{{'L10N_SEARCH_BY_BIOS'|translate}} : <a routerLink="/result"
						[queryParams]="{type:'bios',value:'all'}">{{model.data.mame.biosCount}}</a></li>
				<li>{{'L10N_SEARCH_BY_DEVICE'|translate}} : <a routerLink="/result"
						[queryParams]="{type:'device',value:'all'}">{{model.data.mame.deviceCount}}</a></li>
				<li>{{'L10N_SEARCH_BY_MECHANICAL'|translate}} : <a routerLink="/result"
						[queryParams]="{type:'mechanical',value:'all'}">{{model.data.mame.mechanicalCount}}</a></li>
			</ul>
		</mat-card-content>
	</mat-card>
</div>
<div class="default-spacer"></div>
<mat-card>
	<mat-card-title>
		MAME - {{'L10N_HOW_TO_PLAY'|translate}}
	</mat-card-title>
	<mat-card-content>
		<ol>
			<li>
				{{'L10N_FIND_GAME'|translate}}
				<div class="default-spacer"></div>
				<mat-list>
					<mat-list-item *ngFor="let searchType of model.data.searchTypes; trackBy:trackByKey">
						<mat-icon mat-list-icon [svgIcon]="getMdiIconByType(searchType.type)">
						</mat-icon>
						<p mat-line><a [routerLink]="'/search/' + searchType.type">{{searchType.key|translate}}</a></p>
					</mat-list-item>
				</mat-list>
			</li>
			<li><a href="https://mamedev.org/">{{'L10N_DOWNLOAD_EMULATOR'|translate}}</a>
			</li>
			<li>
				{{'L10N_DOWNLOAD_GAME'|translate}}
				<ul>
					<li><a href="https://www.planetemu.net/roms/mame-roms">Planetemu</a></li>
					<li><a href="https://bda.retroroms.info:82/downloads/mame">Retroroms
							({{'L10N_ACCOUNT_NEEDED'|translate}})</a></li>
				</ul>
			</li>
			<li>{{'L10N_HAVE_FUN'|translate}}</li>
		</ol>
	</mat-card-content>
</mat-card>
<div *ngIf="model.data.randomGame.detail != null">
	<div class="default-spacer"></div>
	<mat-card>
		<mat-card-title>
			<a routerLink="/detail" [queryParams]="{name:model.data.randomGame.detail.name}">
				MAME - {{'L10N_RANDOM_GAME'|translate}} : {{model.data.randomGame.detail.description}}
			</a>
		</mat-card-title>
		<mat-card-content>
			<gallery [colcount]="3" [gap]="5" [provider]="model.data.randomGame.images"></gallery>
		</mat-card-content>
	</mat-card>
</div>
<div class="default-spacer"></div>
<mat-card>
	<mat-card-title>
		MAME - {{'L10N_REFERENCES'|translate}}
	</mat-card-title>
	<mat-card-content>
		<ul>
			<li><a href="https://www.mame.net/">MAME Multiple Arcade Machine Emulator</a>
			</li>
			<li><a href="https://www.progettosnaps.net/">MAME progetto-SNAPS</a>
			</li>
			<li><a href="https://www.planetemu.net/">Planet Emulation</a></li>
			<li><a href="https://www.retroroms.info/">Retro Roms</a></li>
		</ul>
	</mat-card-content>
</mat-card>
<div class="default-spacer"></div>
<mat-card>
	<mat-card-title>
		MSDB - {{'L10N_COMMUNITY'|translate}}
	</mat-card-title>
	<mat-card-content>
		<ul>
			<li><a href="https://github.com/uparlange/msdb-ts">Github</a></li>
		</ul>
	</mat-card-content>
</mat-card>