<div mat-dialog-title>
	{{'L10N_DIP_SWITCH'|translate}}
</div>
<div mat-dialog-content>
	<div *ngFor="let item of provider; trackBy:trackByName">
		<b>{{item.name}}</b>
		<ul>
			<li *ngFor="let switch of item.switchs; trackBy:trackByName">
				{{switch.name}}
				<ul>
					<li *ngFor="let value of switch.values; trackBy:trackByName"
						[class]="value.default == 'yes' ? 'dipvalue-default' : null">
						{{value.name}} ({{value.value}})
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div mat-dialog-actions align="end">
	<button mat-raised-button color="accent" mat-dialog-close cdkFocusInitial>OK</button>
</div>