.mat-mdc-card-title.game-title
{
    max-width:94%;
}

.language-icon
{
    width:24px;
    height:24px;
    margin-left: 5px;
    vertical-align: middle;
}

.favorite-icon
{
    vertical-align: middle;
    margin-left: 10px;
}

.actions-menu
{
    position: absolute;
    right: 0px;
    vertical-align: middle;
    top: 5px;
}