/* You can add global styles to this file, and also import other style files */
html
{
	width:100%;
	height:100%;
}

body
{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color: #ff5722;
	background-size: 100% 100%;
	background-attachment: fixed;
}

a
{
	cursor: pointer;
	text-decoration: none;	
	color:#0079C2;
}

.mat-mdc-card
{
    margin-bottom: 10px;
}

.mdc-tab {
	min-width: 0px !important;
	width: 24px !important;
}

.label-good
{
    color: green !important;
    font-weight: bold;
}

.label-imperfect
{
    color: orange !important;
    font-weight: bold;
}

.label-preliminary
{
    color: red !important;
    font-weight: bold;
}

.label-baddump
{
	color: red;
    font-weight: bold;
}

.label-nodump
{
	color: black;
    font-weight: bold;
	text-decoration:line-through;
}

.b-lazy
{
	background:#D3D3D3;
}

.b-lazy.b-loaded
{
	background:none;
}

.text-button
{
	color: #0079C2;
	cursor: pointer;
}