<advTable [provider]="model.data.provider" [(filterValue)]="model.data.filterValue" [paginationEnabled]="true"
    [filterEnabled]="true" [rowTrackId]="'label'" [(pageIndex)]="model.data.pageIndex" [pageSize]="150">
    <ng-template columnName="label" columnWidth="100%" let-row>
        <a routerLink="/result" [queryParams]="{type:'version', value:row.label}">
            <span>{{row.label}}</span>
            <span *ngIf="row.date != null"> ({{row.date}})</span>
        </a>
    </ng-template>
    <ng-template columnName="addcount" let-row>
        <mat-chip-list [selectable]="false">
            <mat-chip [selectable]="false" color="accent" selected>{{row.data}}</mat-chip>
        </mat-chip-list>
    </ng-template>
    <ng-template columnName="changelog" let-row>
        <a *ngIf="row.filename != null" [href]="'https://mamedev.org/releases/'+row.filename">
            <mat-icon [svgIcon]="getMdiIconByType('changelog')" [matTooltip]="'L10N_CHANGELOG'|translate"></mat-icon>
        </a>
    </ng-template>
</advTable>